# General
*.log
*.tmp
*.swp
*.bak
*.pid
*.seed
*.pid.lock
*.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env
*.venv
.venv/
*.egg-info/
.eggs/
build/
dist/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# IPFS and Blockchain
blockchain/blockchain-api/node_modules/
blockchain/ipfs-service/node_modules/
blockchain/contracts/build/

# File Upload API
file-upload-api/.vs/
file-upload-api/bin/
file-upload-api/obj/
file-upload-api/file-upload-api/bin/
file-upload-api/file-upload-api/obj/

# Image Similarity Checker
image-similarity-checker/image_embeddings.index
image-similarity-checker/image_metadata.json
image-similarity-checker/uploaded_images/

# Patent Similarity Checker
patent-similarity-checker/patent_embeddings.index
patent-similarity-checker/patent_metadata.json
patent-similarity-checker/sample-data-set.json

# PDF Similarity Checker
pdf-similarity-checker/__pycache__/

# Video Similarity Checker
video-similarity-checker/__pycache__/

# GitHub
.github/workflows/*.log