@{
    Layout = null;
}

<footer class="footer px-4">
    <div>IP - Registry <a href="javascript:void(0)">Decentralized IP Portal</a> © 2025 B2HC.</div>
    <div class="ms-auto">Powered by&nbsp;<a href="javascript:void(0)">© 2025 B2HC.</a></div>
</footer>