@using core_web.Models

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Upload Video for Similarity Check";
}

<div class="container mt-4">
    
</div>

@section Scripts {
    
}
